.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
dist/*.map
vids/binary.mov
vids/blue-light.mov
vids/bokeh.mov
vids/code.mov
vids/lightning-fractals.mov
vids/plexus.mov
vids/stardust.mov
